.insta-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 1080px;
    font-size: 24px;
    padding: 24px;
    overflow: hidden;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.img-grid img {
    max-width: 100%;
    display: block;
    border: 1px solid #444;
}
